.header {
	text-align: center;
}

.blog-footer {
	text-align: center;
}

.footer-style {
	text-align: center;
}

.form-for {
	padding-top: 10px;
}

#title {
	text-align: center;
	text-size: 20px;
	font-family: Impact;
}
.body-text {
	float: center;
}

.post-thumbnail {
	float: left;
	margin: 10px;
	clear: both;
}